* {margin: 0; padding: 0;}

.cabeçalho {
    background-color: #E6E6FA; 
    color:black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.imagem-cabeçalho {
    width: 9%;
}

.lista-item {
    display: inline-block;
    margin: 0 16px; 
    padding: 24px 0; 
    font-size: 24px;

}

.lista-materias {
    display: none;
    position: absolute;
    text-align: center;
}

ul a {
    text-decoration: none;
    color: black;
}

.cabeçalho__botao:checked ~ .lista-materias {
    display: block;
}

.lista-materias__item {
    padding: 1em;
    background-color: white;
    text-transform: uppercase;
}

.cabeçalho__botao{
    display: none;
}

.trabalho {
    background-color: #f8f8fd;
    color: black;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 24px 0;
}

.trabalho-div {
    width: 90%; 
    margin-left: 200px;
}

.trabalho-titulo {
    padding: 24px 0;
}

.rodape {
    background-color: #E6E6FA;
    text-align: center; 
}

.rodape-imagem {
    height: 80px;
    padding: 12px 0; 
}

.formulario{
    width: auto;
    padding: 30px;
}

.formulario p{
    width: 100%;
    font-size: 1.5em;
}

.field{
    width: 100%;
    margin: 15px 0;
}

.field label, 
.field span{
    padding-left: 10px;
    font-size: 24px;
    display: block;
    width: 100%;
}

.radiobox label{
    width: auto;
    display: inline-block;
}

input[type=text],
input[type=email],
textarea{
    width: 100%;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline: none;
}

textarea{
    line-height: 20px;
    padding: 10px;
    height: 90px;
    resize: none;
}

input[type=submit]{
    display: block;
    background-color: #ccc;
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}

.carrosel {
    text-align: center;
    background-color: #E6E6FA;
  }
  
  .slides-list {
    /* remove os estilos da lista */
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
    width: 400%;
    position: relative;
    left: 0%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    --selected-item: 0;
    position: relative;
    left: calc(var(--selected-item) * -100%);
    transition: left 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
    --total-items: 6;
    width: calc(var(--total-items) * 100%);
  }
  
  .slide-imagem {
    width: 10%;
  }
  
  .slide-show {
    overflow: hidden;
  }
  
  .slide-controller:nth-child(1):checked~.slide-show .slides-list {
    --selected-item: 0;
  }
  
  .slide-controller:nth-child(2):checked~.slide-show .slides-list {
    --selected-item: 1;
  }
  
  .slide-controller:nth-child(3):checked~.slide-show .slides-list {
    --selected-item: 2;
  }
  
  .slide-controller:nth-child(4):checked~.slide-show .slides-list {
    --selected-item: 3;
  }

  .teclado {
    background-color: white;
    display: grid;
    gap: 10px; 
    grid-template-columns: repeat (3,1fr);
}

  .tecla {
    background-color: #E6E6FA; 
    color: black; 
    padding: 45px;
}
.tecla.ativa,
  .tecla:active {
    background-color: rgb(185, 233, 252); 
    color: black; 
    outline: none;
}

  .tecla:focus,
  .tecla:focus
   {
    outline: none; 
    box-shadow: 1px 1px 10px #c1a9f8;
}

  .tecla.ativa:focus, .tecla-active:focus {
    box-shadow: 3px 3px 0 #D3D3D3;
  }

  h2{
    color:black;
    font-size:20px;
    font-family:sans-serif;
  }
  
  .calculadora {
    box-sizing: border-box;
    font-family: Helvetica;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
  }

  #calc{
    width: 400px;
    padding: .5em;
    background-color: #E6E6FA;
    color: black;
    display: flex;
    flex-direction: column;
  }

  #calc h3{
    font-size: .8em;
    font-weight: 300;
    color: #9191d4;
  }

  #operations {
    text-align: right;
  }

  #previous-operation, 
  #current-operation{
    min-height: 1.6em;
    padding: .2em;
    overflow-wrap: break-word;
  }

  #previous-operation {
    color: #9e9ee6;
  }

  #current-operation{
    font-size: 3em;
    font-weight: 700;
  }

  #buttons-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
  }

  #buttons-container button{
    border: 1px solid transparent;
    border-radius: 0;
    height: 4em;
    font-size: 1.2em;
    background-color: #ececfa;
    cursor: pointer;
  }

  #buttons-container .number{
    background-color: #fbfbfd;
  }

  #buttons-container button:hover{
    background-color: #ececf8;
    border-color: #aaaae9;
  }