* {margin: 0; padding: 0;}

.cabeçalho {
    background-color: #87CEFA; 
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.imagem-cabeçalho {
    width: 9%;
}

.lista-item {
    display: inline-block;
    margin: 0 16px; padding: 24px 0; font-size: 24px;

}

.lista-materias {
    display: none;
    position: absolute;
    text-align: center;
}

ul a {
    text-decoration: none;
    color: black;
}

.cabeçalho__botao:checked ~ .lista-materias {
    display: block;
}

.lista-materias__item {
    padding: 1em;
    background-color: white;
    text-transform: uppercase;
}

.cabeçalho__botao{
    display: none;
}

.rodape {
    background-color: #87CEFA;
    text-align: center; 
}

.rodape-imagem {
    height: 80px;
    padding: 12px 0; 
}

.formulario{
    width: auto;
    padding: 30px;
}

.formulario p{
    width: 100%;
    font-size: 1.5em;
}

.field{
    width: 100%;
    margin: 15px 0;
}

.field label, 
.field span{
    padding-left: 10px;
    font-size: 24px;
    display: block;
    width: 100%;
}

.radiobox label{
    width: auto;
    display: inline-block;
}

input[type=text],
input[type=email],
textarea{
    width: 100%;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline: none;
}

textarea{
    line-height: 20px;
    padding: 10px;
    height: 90px;
    resize: none;
}

input[type=submit]{
    display: block;
    background-color: #ccc;
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}

.informacoes {
    background-image: linear-gradient(#87CEFA, #F0FFFF);
    color: black;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 24px 0;
}

.informacoes-div {
    width: 90%; 
    margin-left: 200px;
}

.informacoes-titulo {
    padding: 24px 0;
}

.informacoes-imagem {
    width: 60%;
    align-items: center;
}

.projeto1 {
    color: black;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 24px 0;
}

.projeto1-div {
    width: 90%; 
    margin-left: 200px;
}

.projeto1-titulo {
    padding: 24px 0;
}

.projeto1-imagem {
    width: 40%;
    align-items: center;
}

.projeto2 {
    color: black;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 24px 0;
}

.projeto2-div {
    width: 90%; 
    margin-left: 200px;
}

.projeto2-titulo {
    padding: 24px 0;
}

.projeto2-imagem {
    width: 40%;
    align-items: center;
}

.semaforo {
    color: black;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 24px 0;
}

.semaforo-div {
    width: 90%; 
    margin-left: 200px;
}

.semaforo-titulo {
    padding: 24px 0;
}

.semaforo-imagem {
    width: 40%;
    align-items: center;
}

.semaforofisico {
    color: black;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 24px 0;
}

.semaforofisico-div {
    width: 90%; 
    margin-left: 200px;
}

.semaforofisico-titulo {
    padding: 24px 0;
}

.semaforofisico-imagem {
    width: 40%;
    align-items: center;
    padding: 24px 0;
}

.videosemaforo {
    padding: 24px 0; 
}

.display {
    color: black;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 24px 0;
}

.display-div {
    width: 90%; 
    margin-left: 200px;
}

.display-titulo {
    padding: 24px 0;
}

.display-imagem {
    width: 40%;
    align-items: center;
    padding: 24px 0;
}

.potenciometro {
    color: black;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 24px 0;
}

.potenciometro-div {
    width: 90%; 
    margin-left: 200px;
}

.potenciometro-titulo {
    padding: 24px 0;
}

.potenciometro-imagem {
    width: 40%;
    align-items: center;
    padding: 24px 0;
}
